*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

/* Utilities style  */
.container{
    max-width: 1200px;
    margin: 0 auto; 
}

/* Nav  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    
}

nav .logo{
    font-size: 24px;
    font-weight: 700;
}
.menu ul li{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
}

nav a{
    color: #000;
}
.menu .fa-solid{
    margin-left: 20px;
}

.banner{
    display: flex;
    align-items: center;
    padding: 40px 0;
}
.banner-des{
    width: 70%;
}
.banner-title{
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
}

.banner-description{
    font-size: 16px;
    font-weight: 500;
    padding: 15px 0;
}

.preebook-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
}
.banner-img{
    background-image: url(/images/Circle\ design.svg);
}

.partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

/* Card */
.popular-title{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 45px;
}

.card{
    width: 330px;
    height: 475px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px gray;
}

.card img{
    width: 100%;
}

.card-title{
    font-size: 28px;
    font-weight: 400;
}

.price{
    font-size: 24px;
}

.icon .fa-solid{
    color: #FB8200;
    font-size: 14px;
}

.icon span{
    margin-left: 15px;
}

.see-more{
    text-align: end;
    color:#E02C6D;
    margin-top: 22px;
    margin-right: 22px;
    cursor: pointer;
}

/* featured-products */
.featured-products{
    display: flex;
    align-items: center;
    gap: 30px;
}

.featured-title{
    font-size: 38px;
    font-weight: 700;
    
}

.featured-description{
    font-size: 16px;
    font-weight: 700;
    padding: 15px 0;
}

.featured-btn{
    padding: 10px 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: #E02C6D;
    border: none;

}

.btn-arrow{
    padding-left: 10px;
}

/* Footer start  */
footer{
    background-color: #0a0826;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    text-align: center;
    margin-top: 100px;
}

.influencer-title{
    font-size: 24px;
    font-weight: 700;
}

.influencer p{
    font-weight: 700;
    font-size: 14px;
}

.social-icon i{
    font-size: 14px;
    border-radius: 25px;
    padding-right: 10px;
}


/* =======
           RESPONSIVE DEVICE
      ========== */
/* mobile device */
@media only screen and (max-width: 688px) {
.menu{
    display: none;
  }  
  .banner{
    flex-direction: column-reverse;
  }
  .banner-title {
        font-size: 26px;
        line-height: 39px;
    }
    .partners{
        flex-wrap: wrap;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
        justify-items:center;
    }

    .featured-products{
        flex-direction: column-reverse;
        text-align: center;
    }
    .featured-des{
        padding: 10px;
    }
}

/* tablet device */
@media only screen and (min-width: 689px) and (max-width: 992px){
    .container{
        padding-left: 50px;
    }
    .menu{
        padding-right: 40px;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-des{
        padding-top: 10px;
        padding-right: 20px;
    }
}